html {
	box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}

@media only screen and (max-width: 600px){
    .menu-links ul{
        flex-direction: column;
        align-self: flex-start;
    }
    body {
        font-size: 0.8em;
    }
}

body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin:0px;
}
.header-container {
    background-color: rgba(248, 245, 245, 0.986);
    display: block;
    height: 180px;
    padding-left: 12%;
    padding-top: 30px;
    align-items: center;
}
.header-container h1 {
    font-size: 40PX;
    font-weight: 700;
    margin-bottom: 0px;
}
.header-container p{
    margin-top: 0px;
    color: grey;
    font-weight: bold;
}
.menu-links {
    align-items: center;
    padding-left: 12%;
    font-weight: bold;

}
.menu-links li {
    display: inline;
    padding-right: 25px;
}
.menu-links ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    line-height: 20px;
}
li a:hover{
    color:rgba(115, 116, 109, 0.829);
    cursor: pointer;
}
li a {
    text-decoration: none;
    color: rgb(43, 42, 42); 
}
.photo-container img{
    width: 100%;
	height: 30%;
}
.section-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-right: 12%;
    padding-bottom: 10%;
    padding-left: 12%;
    color: gray;
    justify-content: space-between;
}

.p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.section-indusrty h4 {
    color: rgb(43, 39, 39);
    text-transform: uppercase;
    
}
.section-practical h2 {
    color: rgb(43, 39, 39);
    text-transform: uppercase;
}


.section-indusrty {
    display: block;
    width:30%;
    font-weight: bold;
    order: 1;
    padding-top:15px;
    padding-bottom: 10%;
}
.section-indusrty p {
    font-size: 1em;
}
.section-practical {
    display: block;
    width: 60%;
    font-weight: 500;
    order: 2;
    font-size: 1.5em;
    padding-bottom: 10%;
}
.section-gallery {
    display: block;
    width: 30%;
    order: 3;
    padding-bottom: 10%;
    padding-top:15px;
}
.section-gallery h4 {
    color: rgb(43, 39, 39);
    text-transform: uppercase;
}
.section-gallery p {
    font-size: 1em;
}
.section-logo {
    display: block;
    width: 60%;
    order: 4;
}
.section-logo h2 {
    color: rgb(43, 39, 39);
    text-transform: uppercase; 
    font-size: 30px;
    padding-bottom: 5%;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .section-container div{
        width: 100%; 
    }
    .section-practical{
        order: 1;
    }
    .section-indusrty{
        order: 2;
    }
    .footer-container div {
        width: 100%;
    }
}

.logo-container {
    display: flex;
    width:100%;
    flex-wrap: wrap;

}
.logo-group {
    display: flex;
    width:50%;
    padding-bottom: 60px;
}
.logo {
    width: 110px;
}
.logo-left-container {
    display: block;
    width: 50%;
}
.logo-right-container {
    display: block;
    width: 50%;
}

@media only screen and (max-width: 900px) {
    .logo-group {
        width: 100%;
    }
    .footer-columns {
        padding-top: 10%;
    }
}


.footer-container {
    background-color: rgb(104, 31, 221);
    width: 100%;
    display: flex;
    color: white;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-left: 12%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-columns {
    display: block;
    width: 20%;
    box-sizing: content-box;
}

.footer-columns h3{
    cursor: pointer;
    font-weight: bold;
}
.footer-columns p {
    line-height: 2;
}

.footer-columns span{
    cursor: pointer;
    font-weight: bold;
    line-height: 2em;
    padding: 20px 0;
}

.footer-columns span:hover {
	color:rgb(255, 187, 0);
}
.last-cols span {
    line-height: 3;
    border-bottom: thin solid #e7d5ee;
    letter-spacing: 0.1rem;
}
.footer-columns>map {
    height: 70%;
    width: 100%;
    margin-bottom: 0;
}